.what-we-do {
  background: #fff;
  position: relative;
  &--content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin-top: 90px;
    & img {
      width: 100%;
      height: fit-content;
      object-fit: cover;
      margin-bottom: 30px;
    }
  }
  .accordion {
    display: flex;
    flex-direction: column;
    & > div:not(:last-child) {
      margin-bottom: 10px;
    }
    & .accordion-button::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    &-item {
      border: none !important;
      & .accordion-button svg {
        margin-right: 15px;
      }
      & .accordion-button.collapsed {
        border: 1px solid #e5e5e5;
        font-size: 14px;
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        font-weight: 700;
      }
      & .accordion-button:not(.collapsed) {
        background-color: transparent;
        box-shadow: none;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        font-size: 14px;
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        font-weight: 700;
      }
      & .accordion-collapse {
        padding: 20px;
        border: 1px solid #e5e5e5;
      }
      & .accordion-body {
        max-height: 130px !important;
        overflow: hidden;
        padding-right: 10px;
        & p {
          font-size: 15px;
          font-family: "Roboto";
          color: rgb(153, 153, 153);
          font-style: italic;
          line-height: 1.6;
        }
        & .scroll-element .scroll-bar:hover {
          background-color: #333;
        }
      }
    }
  }
}
