<section class="hero">
    @@include('../page/_2_header.html')
    <div class="owl-carousel owl-theme">
        <img data-hash="firstSlide" src="images/slider/slider_1.png" alt="slider item">
        <img data-hash="secondSlide" style="filter: contrast(0.5)" src="images/slider/slider_2.jpg" alt="slider item">
        <img data-hash="thirdSlide" style="filter: contrast(0.5)" src="images/slider/slider_3.jpg" alt="slider item">
        <img data-hash="fourthSlide" style="filter: contrast(0.5)" src="images/slider/slider_4.jpg" alt="slider item">
    </div>
    <div class="hero__main">
        <div class="container">
            <div class="row">
                <h1>Creative Template</h1>
                <h2>Welcome<br> to MoGo</h2>
                <hr>
                <a href="#" class="btn">Learn more</a>
            </div>
        </div>
    </div>
    <div class="hero__nav">
        <div class="container">
            <div class="row">
                <a href="#firstSlide" class="hero__nav__item col-3 active">
                    <div class="hero__nav__item--status"></div>
                    <div class="hero__nav__item--index">01</div>
                    <div class="hero__nav__item--title">Intro</div>
                </a>
                <a href="#secondSlide" class="hero__nav__item col-3">
                    <div class="hero__nav__item--status"></div>
                    <div class="hero__nav__item--index">02</div>
                    <div class="hero__nav__item--title">Work</div>
                </a>
                <a href="#thirdSlide" class="hero__nav__item col-3">
                    <div class="hero__nav__item--status"></div>
                    <div class="hero__nav__item--index">03</div>
                    <div class="hero__nav__item--title">About</div>
                </a>
                <a href="#fourthSlide" class="hero__nav__item col-3">
                    <div class="hero__nav__item--status"></div>
                    <div class="hero__nav__item--index">04</div>
                    <div class="hero__nav__item--title">Contacts</div>
                </a>
            </div>
        </div>
    </div>
</section>