<section class="team">
    <div class="container">
        <div class="row">
            <div class="section__title">
                <h5>Who we are</h5>
                <h3>Meet our team</h3>
            </div>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="team--content">
                <div class="team__item">
                    <div class="team__item__thumbnail">
                        <img src="images/team/team_1.png" alt="Matthew Dix">
                        <div class="team__item__overlay"></div>
                        <div class="team__item__social__buttons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team__item__name">
                        <h3>Matthew Dix</h3>
                        <p class="team__item__spec">Graphic Design</p>
                    </div>
                </div>
                <div class="team__item">
                    <div class="team__item__thumbnail">
                        <img src="images/team/team_2.png" alt="Christopher Campbell">
                        <div class="team__item__overlay"></div>
                        <div class="team__item__social__buttons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team__item__name">
                        <h3>Christopher Campbell</h3>
                        <p class="team__item__spec">Branding/UX design</p>
                    </div>
                </div>
                <div class="team__item">
                    <div class="team__item__thumbnail">
                        <img src="images/team/team_3.png" alt="Michael Fertig">
                        <div class="team__item__overlay"></div>
                        <div class="team__item__social__buttons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team__item__name">
                        <h3>Michael Fertig</h3>
                        <p class="team__item__spec">Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>