<header class="header">
    <div class="container">
        <div class="row">
            <div class="header__logo col-3 col-lg-4">
                <img src="images/Mogo.png" alt="logo">
            </div>
            <div class="header__nav col-9 col-lg-8">
                <div class="row">
                    <div class="col-auto">
                        <nav>
                            <a href="#" class="active">About</a>
                            <a href="#">Service</a>
                            <a href="#">Work</a>
                            <a href="#">Blog</a>
                            <a href="#">Contact</a>
                            <a href="#" class="nav-no-hover"><i class="fas fa-shopping-cart"></i></a>
                            <a href="#" class="nav-no-hover"><i class="fas fa-search"></i></a>
                            <a href="#" class="nav-close"><i class="fas fa-times"></i></a>
                        </nav>
                        <a href="#" class="nav-open"><i class="fas fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>